.content-accordion {
	border: 1px solid #ccc;
	padding: 0.25em;
}

.content-accordion h2.content-accordion-title {
	padding: 5px;
	margin: 0;
	background-image: url('../icons/triangle.png'); 
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 25px 25px;
	padding-left: 35px;
}

.content-accordion div.content-accordion-content {
	padding: 0px 5px;
	padding-left: 35px;
}